* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: font-family: 'Noto Sans', sans-serif;;
}

:root{
    /* Color styles */
    --section-bg: #D9D9D9;
    --primary: #FFFFFF;
    --secundary: #23272A;
    --header-bg: #255EE9;
    --dark-text: #000000;
    --accessory: #7289DA;
}